
body {
  height: 100%;
  width: 100%;

  overflow: hidden;
  //
  //&::-webkit-scrollbar { width: 0; }
  //
  //& { -ms-overflow-style: none; }
  //
  //& { overflow: -moz-scrollbars-none; }

}

html {
  overflow-x: hidden;
  min-height: 100%;
  background-color: #232323;
}


input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


:global {
  //.rc-tooltip {
  //  background-color: transparent;
  //  opacity: unset;
  //}
  //
  //.rc-tooltip-inner {
  //  padding: 16px 14px;
  //  border-radius: 10px;
  //  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  //  border: unset;
  //  width: 270px;
  //}
  //
  //.rc-tooltip-arrow {
  //  border-color: transparent !important;
  //}


  .ps__rail-x {
    bottom: 100px !important;
    @media (max-width: 1280px) {
      bottom: 80px !important;
    }
    @media (max-width: 768px) {
      bottom: 10px !important;
    }

    background-color: transparent !important;
  }

  .rc-slider {


    .rc-slider-mark {
      top: -1.5vw;
      @media(max-width: 768px){
        top: -30px;
      }
    }

    .rc-slider-dot{
      display: none;
    }

    .rc-slider-handle{
      border: none;
      width: 16px;
      height: 16px;
      margin-top: -7px;
      background: #15E9E9;
    }
    .rc-slider-step{
      background: transparent;
    }

    .rc-slider-track{
      background: #15E9E9;
    }

    .rc-slider-rail{
      height: 14px;
      background: #000;
      border-radius: 32px;
      margin-top: -5px;

    }

    .rc-slider-mark-text{
      font-family: GothamPro-Light !important;
      font-weight: 300;
      font-size: 1.2vw !important;
      line-height: 1.4vw !important;
      text-align: center;
      color: #575A64;
      @media(max-width: 768px){
        font-size: 18px !important;
        line-height: 22px !important;
      }
    }
  }
  .rc-slider-tooltip-content{

    .rc-slider-tooltip-inner {
      box-shadow: none !important;
      -moz-window-shadow: none !important;
      -webkit-window-shadow: none !important;
      background-color: transparent !important;
      font-family: GothamPro !important;
      text-align: center !important;
      color: #15E9E9 !important;
      font-size: 1.2vw !important;
      line-height: 1.4vw !important;
      @media(max-width: 768px){
        font-size: 20px !important;
        line-height: 24px !important;
      }
    }

    .rc-slider-tooltip-arrow {
      display: none !important;
    }
  }

  .rc-select-arrow{
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    right: 5% !important;
  }

  .rc-select-dropdown{
    background: rgb(47, 49, 54);
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0 0 25px 25px;
    font-family: GothamPro !important;
    font-size: 1vw;
    padding: 1vw 1.5vw;
    @media(max-width: 768px){
      padding: 20px 36px;
      font-size: 16px;
    };
    color: white;
    ::before{
      content: " ";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 10%;
      right: 10%;
      border-top: 1px solid rgb(38,40,43);
    }
  }

  .rc-select-open{
    border-radius: 25px 25px  0 0 !important;
    .rc-select-arrow{
        transform: rotate(180deg);
    }
  }
  .rc-select-item-option{
      margin-bottom: 15px;
  }
  .rc-select-item-option-selected{
    display: flex;
    justify-content: space-between;
  }
  .rc-select-selection-item{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 1.5vw;
    @media(max-width: 768px){
      left: 36px;
    }
  }
  .rc-select-selection-search-input{
    outline: none;
    background: transparent;
    border: none;
    font-family: GothamPro !important;
    color: white;
    font-size: 1vw;@media(max-width: 768px){font-size: 16px;};
  }
  .rc-select-selector{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1.5vw;
    @media(max-width: 768px){
      padding-left: 36px;
    }
    //padding-top: 2%;
  }
}

