
body {
  height: 100%;
  width: 100%;

  overflow: hidden;
  //
  //&::-webkit-scrollbar { width: 0; }
  //
  //& { -ms-overflow-style: none; }
  //
  //& { overflow: -moz-scrollbars-none; }

}

html {
  overflow-x: hidden;
  min-height: 100%;
  background-color: #232323;
}


input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


:global {
  .rc-tooltip {
    background-color: transparent;
    opacity: unset;
  }

  .rc-tooltip-inner {
    padding: 16px 14px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: unset;
    width: 270px;
  }

  .rc-tooltip-arrow{
    border-color: transparent !important;
  }


  .ps__rail-x{
    bottom: 100px !important;
    @media(max-width: 1280px){
      bottom: 80px !important;
    }
    @media(max-width: 768px){
      padding-top: 20px !important;
    }

    background-color: transparent !important;
  }


}

